<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi <%= @email.addressee_name %>,
    <p>
      Here's a quick update for the week:
    </p>
    <p>
    	Completed this week:
    </p>
    <ol>
    	<% @major_projects.each do |project| %>
    	<li>
    		<%=project%>
    	</li>
    	<% end %>
    </ol>

    <p>
    	Open items:
    </p>
    <ol>
      <% @open_projects.each do |project| %>
      <li>
        <%=project%>
      </li>
      <% end %>
    </ol>


    <p>That's all for now. Have a great weekend!</p>

	— <%= @user.name %>
  <p>Sent via <a href="#">Translucent</a></p>
  </body>
</html>