<!DOCTYPE html>
<html>
<head>
  <title>HivemindApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script language="javascript" type="text/javascript" src="./app/assets/javascripts/jquery-2.1.4.min.js"></script>
  <script language="javascript" type="text/javascript" src="./app/assets/javascripts/email.js"></script>
  <link rel="stylesheet" type="text/css" href="./app/assets/stylesheets/style.css"
</head>
<body>

<%= yield %>

</body>
</html>
